/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-decoration: none;
    height: 44px;
    padding: 0 16px;
    font-size: 1.5rem;
    width: 100%;
    /* max-width: 350px; */
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.5px;
    white-space: wrap;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover,
.button:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}
.button.button-primary {
    color: #fff;
    filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
    color: #fff;
    filter: brightness(90%);
}

/* Network Name
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.network {
  line-height: 1.5rem;
}

.network span {
  display: block;
  font-size: 0.6rem;
  line-height: 1rem;
  opacity: 0.5;
  margin-top: 2px;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
    padding: 0px 0px 0px 12px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Clubhouse */
.button.button-clubhouse {
  color: #333333;
  background-color: #f2efe4;
}
.button.button-clubhouse:hover,
.button.button-clubhouse:focus {
  filter: brightness(90%);
}

/* Discord */
.button.button-discord {
    color: #ffffff;
    background-color: #7289da;
}
.button.button-discord:hover,
.button.button-discord:focus {
    filter: brightness(90%);
}

/* Facebook */
.button.button-facebook {
    color: #ffffff;
    background-color: #1877f2;
}
.button.button-facebook:hover,
.button.button-facebook:focus {
    filter: brightness(90%);
}

/* Facebook Messenger */
.button.button-messenger {
    color: #ffffff;
    background-image: linear-gradient(
        25deg,
        #0099ff,
        #5f5dff,
        #a033ff,
        #c740cc,
        #ff5280,
        #ff7061
    );
}
.button.button-messenger:hover,
.button.button-messenger:focus {
    filter: brightness(90%);
}

/* Figma */
.button.button-figma {
    color: #ffffff;
    background-color: #000000;
}
.button.button-figma:hover,
.button.button-figma:focus {
    filter: brightness(90%);
}

/* Github */
.button.button-github {
    color: #ffffff;
    background-color: #000000;
}
.button.button-github:hover,
.button.button-github:focus {
    filter: brightness(90%);
}

/* Goodreads */
.button.button-goodreads {
    color: #333333;
    background-color: #f3f1e6;
}
.button.button-goodreads:hover,
.button.button-goodreads:focus {
    filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
    color: #ffffff;
    /* background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); */
    background: #f09433;
    background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.button.button-instagram:hover,
.button.button-instagram:focus {
    filter: brightness(90%);
}

/* Kit */
.button.button-kit {
    color: #ffffff;
    background-color: #000000;
}
.button.button-kit:hover,
.button.button-kit:focus {
    filter: brightness(90%);
}

/* LinkedIn */
.button.button-linkedin {
    color: #ffffff;
    background-color: #2867b2;
}
.button.button-linkedin:hover,
.button.button-linkedin:focus {
    filter: brightness(90%);
}

/* Medium */
.button.button-medium {
    color: #ffffff;
    background-color: #000000;
}
.button.button-medium:hover,
.button.button-medium:focus {
    filter: brightness(90%);
}

/* Peloton */
.button.button-peloton {
    color: #ffffff;
    background-color: #df1c2f;
}
.button.button-peloton:hover,
.button.button-peloton:focus {
    filter: brightness(90%);
}

/* Pinterest */
.button.button-pinterest {
    color: #000000;
    background-color: #ffe2eb;
}
.button.button-pinterest:hover,
.button.button-pinterest:focus {
    filter: brightness(90%);
}

/* Reddit */
.button.button-reddit {
    color: #000000;
    background-color: #d7dfe2;
}
.button.button-reddit:hover,
.button.button-reddit:focus {
    filter: brightness(90%);
}

/* Skoob */
.button.button-skoob {
    color: #ffffff;
    background-color: #3189c8;
}
.button.button-skoob:hover,
.button.button-skoob:focus {
    filter: brightness(90%);
}

/* Snapchat */
.button.button-snapchat {
    color: #000000;
    background-color: #fffc00;
}
.button.button-snapchat:hover,
.button.button-snapchat:focus {
    filter: brightness(90%);
}

/* SoundCloud */
.button.button-soundcloud {
    color: #ffffff;
    background-color: #ff5500;
}
.button.button-soundcloud:hover,
.button.button-soundcloud:focus {
    filter: brightness(90%);
}

/* Spotify */
.button.button-spotify {
    color: #ffffff;
    background-color: #000000;
}
.button.button-spotify:hover,
.button.button-spotify:focus {
    filter: brightness(90%);
}

/* Steam */
.button.button-steam {
    color: #ffffff;
    background-color: #171a21;
}
.button.button-steam:hover,
.button.button-steam:focus {
    filter: brightness(90%);
}

/* Telegram */
.button.button-telegram {
    color: #ffffff;
    background-color: #3faee8;
}
.button.button-telegram:hover,
.button.button-telegram:focus {
    filter: brightness(90%);
}

/* TikTok */
.button.button-tiktok {
  color: #ffffff;
  background-color: #000000;
}
.button.button-tiktok:hover,
.button.button-tiktok:focus {
  filter: brightness(90%);
}

/* Tumblr */
.button.button-tumblr {
    color: #ffffff;
    background-color: #131313;
}
.button.button-tumblr:hover,
.button.button-tumblr:focus {
    filter: brightness(90%);
}

/* Twitch */
.button.button-twitch {
    color: #ffffff;
    background-color: #9146ff;
}
.button.button-twitch:hover,
.button.button-twitch:focus {
    filter: brightness(90%);
}

/* Twitter */
.button.button-twitter {
    color: #ffffff;
    background-color: #1da1f2;
}
.button.button-twitter:hover,
.button.button-twitter:focus {
    filter: brightness(90%);
}

/* Vimeo */
.button.button-vimeo {
    color: #ffffff;
    background-color: #1ab7ea;
}
.button.button-vimeo:hover,
.button.button-vimeo:focus {
    filter: brightness(90%);
}

/* YouTube */
.button.button-youtube {
    color: #ffffff;
    background-color: #000000;
}
.button.button-youtube:hover,
.button.button-youtube:focus {
    filter: brightness(90%);
}

/* WhatsApp */
.button.button-whatsapp {
  color: #ffffff;
  background-color: #25d366;
}
.button.button-whatsapp:hover,
.button.button-whatsapp:focus {
  filter: brightness(90%);
}

/* Wordpress */
.button.button-wordpress {
    color: #ffffff;
    background-color: #21759b;
}
.button.button-wordpress:hover,
.button.button-wordpress:focus {
    filter: brightness(90%);
}
